<div class="player-grid">
    <div>
        <div class="aspectratio" data-ratio="16:9" id="help-video-aspect-ratio" #aspectRatio>
            <sunbird-video-player *ngIf="playerConfig" [playerConfig]="playerConfig" (playerEvent)="playerEvent($event)" (telemetryEvent)="telemetryEvent($event)" [action]="action"></sunbird-video-player>
        </div>
        <div>
            <button type="button" (click)="play()">Cancel</button>&nbsp;
            <button type="button" (click)="pause()">Add Question Set</button>
        </div>
          <br>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi eos pariatur ea reiciendis mollitia accusantium, maxime fugiat omnis quo possimus dolor eaque dicta rem repellat autem, tenetur praesentium quos veritatis!</p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi eos pariatur ea reiciendis mollitia accusantium, maxime fugiat omnis quo possimus dolor eaque dicta rem repellat autem, tenetur praesentium quos veritatis!</p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi eos pariatur ea reiciendis mollitia accusantium, maxime fugiat omnis quo possimus dolor eaque dicta rem repellat autem, tenetur praesentium quos veritatis!</p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi eos pariatur ea reiciendis mollitia accusantium, maxime fugiat omnis quo possimus dolor eaque dicta rem repellat autem, tenetur praesentium quos veritatis!</p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi eos pariatur ea reiciendis mollitia accusantium, maxime fugiat omnis quo possimus dolor eaque dicta rem repellat autem, tenetur praesentium quos veritatis!</p>
    </div>
    <div>
        right column
    </div>
</div>
